################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/archive
/Metar-Taf Viewer/obj
/Metar-Taf Viewer/bin/Debug
/Metar-Taf Viewer/bin/Release
